In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sat-by-year-and-gender-1967-2001/SAT_by_Year_Gender_1967_2001.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression
data=pd.read_csv('/kaggle/input/sat-by-year-and-gender-1967-2001/SAT_by_Year_Gender_1967_2001.csv')
print(data.head)

<bound method NDFrame.head of     Year  M_verbal  F_verbal  M_math  F_math  A_verbal  A_math  M_averages  \
0   1967       540       545     535     495       543     516         538
1   1968       541       543     533     497       543     516         537
2   1969       536       543     534     498       540     517         535
3   1970       536       538     531     493       537     512         534
4   1971       531       534     529     494       532     513         530
5   1972       531       529     527     489       530     509         529
6   1973       523       521     525     489       523     506         524
7   1974       524       520     524     488       521     505         524
8   1975       515       509     518     479       512     498         516
9   1976       511       508     520     475       509     497         516
10  1977       509       505     520     474       507     496         514
11  1978       511       503     517     474       507     494         514
12  1979       509       501     516     473       505     493         512
13  1980       506       498     515     473       502     492         510
14  1981       508       496     516     473       502     492         512
15  1982       509       499     516     473       504     493         512
16  1983       508       498     516     474       503     494         512
17  1984       511       498     518     478       504     497         514
18  1985       514       503     522     480       509     500         518
19  1986       515       504     523     479       509     500         519
20  1987       512       502     523     481       507     501         518
21  1988       512       499     521     483       505     501         516
22  1989       510       498     523     482       504     502         516
23  1990       505       496     521     483       500     501         513
24  1991       503       495     520     482       499     500         512
25  1992       504       496     521     484       500     501         512
26  1993       504       497     524     484       500     503         514
27  1994       501       497     523     487       499     504         512
28  1995       505       502     525     490       504     506         515
29  1996       507       503     527     492       505     508         517
30  1997       507       503     530     494       505     511         518
31  1998       509       502     531     496       505     512         520
32  1999       509       502     531     495       505     511         520
33  2000       507       504     533     498       505     514         520
34  2001       509       502     533     498       506     514         521

    F_averages  A_averages
0          520         529
1          520         528
2          520         528
3          516         524
4          514         522
5          509         519
6          505         514
7          504         514
8          494         505
9          492         504
10         490         502
11         488         501
12         487         500
13         486         498
14         484         498
15         486         499
16         486         499
17         488         501
18         492         505
19         492         505
20         492         504
21         491         504
22         490         503
23         490         501
24         488         500
25         490         501
26         490         502
27         492         502
28         496         506
29         498         507
30         498         508
31         499         510
32         498         509
33         501         510
34         500         510  >

In [3]:
data.describe()

,Year,M_verbal,F_verbal,M_math,F_math,A_verbal,A_math,M_averages,F_averages,A_averages
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,1984.000000,514.057143,508.371429,524.028571,485.057143,511.171429,503.685714,518.971429,496.742857,507.771429
std,10.246951,11.206466,15.262576,6.021949,8.653265,13.307419,7.722280,7.789456,10.592291,9.068646
min,1967.000000,501.000000,495.000000,515.000000,473.000000,499.000000,492.000000,510.000000,484.000000,498.000000
25%,1975.500000,507.000000,498.000000,520.000000,478.500000,504.000000,497.500000,513.500000,490.000000,501.000000
50%,1984.000000,509.000000,502.000000,523.000000,484.000000,505.000000,502.000000,516.000000,492.000000,505.000000
75%,1992.500000,515.000000,508.500000,529.500000,493.500000,510.500000,511.000000,520.500000,500.500000,510.000000
max,2001.000000,541.000000,545.000000,535.000000,498.000000,543.000000,517.000000,538.000000,520.000000,529.000000

In [5]:
import pandas as pd
from scipy.interpolate import lagrange
import numpy as np
y = list(data['Year'])
a = list(data['A_averages'])
m = list(data['M_averages'])
f = list(data['F_averages'])

# Rescale years
y_rescaled = [year - min(y) for year in y]

# Piecewise Lagrange interpolation
def nearest_neighbors(x, values, year, k=5):
    distances = np.abs(np.array(x) - year)
    indices = np.argsort(distances)[:k]
    return [x[i] for i in indices], [values[i] for i in indices]

def lagrange_predict(year, x, values, k=5):
    x_subset, values_subset = nearest_neighbors(x, values, year, k)
    poly = lagrange(x_subset, values_subset)
    return poly(year)

# User input
py = int(input('Enter year for which you want to predict average: '))
pt = int(input('What do you want to predict:\n 1. Male Average \n 2. Female Average \n 3. Total Average \n 4. All \n 5. Exit \n Your choice: '))

# Predict
if pt == 1:
    print('Average Score of Male students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, m), 6))
elif pt == 2:
    print('Average Score of Female students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, f), 6))
elif pt == 3:
    print('Average Score of all students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, a), 6))
elif pt == 4:
    print('Average Score of Male students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, m), 6))
    print('Average Score of Female students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, f), 6))
    print('Average Score of all students in SAT in the year', py, 'is:', round(lagrange_predict(py - min(y), y_rescaled, a), 6))
elif pt == 5:
    print("Exiting the program.")
    exit()
else:
    print("Invalid choice! Please select a valid option.")

Enter year for which you want to predict average:  2005
What do you want to predict:
 1. Male Average
 2. Female Average
 3. Total Average
 4. All
 5. Exit
 Your choice:  3

Average Score of all students in SAT in the year 2005 is: 160.0

BAR GRAPH
avg_male = data['M_averages'].mean()
avg_female = data['F_averages'].mean()

plt.figure(figsize=(6, 6))
plt.bar(['Male Average', 'Female Average'], [avg_male, avg_female], color=['blue','violet'])
plt.ylabel("Average Score")
plt.title("Average SAT Scores by Gender")
plt.show()

In [4]:
data=pd.read_csv('/kaggle/input/sat-by-year-and-gender-1967-2001/SAT_by_Year_Gender_1967_2001.csv')
y = list(data['Year'])
a = list(data['A_averages'])
m = list(data['M_averages'])
f = list(data['F_averages'])
def lagrange_interpolation(year, values):
    a_est = 0
    n = len(y)
    for i in range(n):
        l_i = 1
        for j in range(n):
            if j != i:
                l_i *= (year - y[j]) / (y[i] - y[j])
        a_est += l_i * values[i]
    return a_est

# Input from user
py = int(input('Enter year for which you want to predict average: '))
pt = int(input('What do you want to predict:\n 1. Male Average \n 2. Female Average \n 3. Total Average \n 4. All \n 5. Exit \n Your choice: '))

if pt == 1:
    print('Average Score of Male students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, m), 6))
elif pt == 2:
    print('Average Score of Female students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, f), 6))
elif pt == 3:
    print('Average Score of all students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, a), 6))
elif pt == 4:
    print('Average Score of Male students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, m), 6))
    print('Average Score of Female students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, f), 6))
    print('Average Score of all students appearing in SAT in the year', py, 'is:', round(lagrange_interpolation(py, a), 6))
elif pt == 5:
    print("Exiting the program.")
    exit()
else:
    print("Invalid choice! Please select a valid option.")

Enter year for which you want to predict average:  2005
What do you want to predict:
 1. Male Average
 2. Female Average
 3. Total Average
 4. All
 5. Exit
 Your choice:  3

Average Score of all students appearing in SAT in the year 2005 is: 16581637805369.477

In [205]:
X = data[['Year']]
Y = data['A_averages']
X_train, X_valid, y_train, y_valid = train_test_split(X, Y, test_size=0.3, random_state=0)
modelr = RandomForestRegressor(n_estimators=100, random_state=42)
modelr.fit(X_train, y_train)
pred = modelr.predict(X_valid)
mae=mean_absolute_error(y_valid, pred)
print('ERROR -',mae)

ERROR - 0.9181818181818254

In [206]:
model = LinearRegression()
model.fit(X_train, y_train)
preds = model.predict(X_valid)
mae=mean_absolute_error(y_valid, preds)
print('ERROR -',mae)

ERROR - 6.664605384418265

In [207]:
future_years = pd.DataFrame({'Year':range(2010, 2030)})
predl=model.predict(future_years)
predr=modelr.predict(future_years)
future_years['A_averagesl']=predl
future_years['A_averagesr']=predr 
print(future_years)
print()
print(data)

    Year  A_averagesl  A_averagesr
0   2010   497.430748       509.67
1   2011   496.992022       509.67
2   2012   496.553296       509.67
3   2013   496.114570       509.67
4   2014   495.675844       509.67
5   2015   495.237118       509.67
6   2016   494.798392       509.67
7   2017   494.359666       509.67
8   2018   493.920941       509.67
9   2019   493.482215       509.67
10  2020   493.043489       509.67
11  2021   492.604763       509.67
12  2022   492.166037       509.67
13  2023   491.727311       509.67
14  2024   491.288585       509.67
15  2025   490.849859       509.67
16  2026   490.411133       509.67
17  2027   489.972407       509.67
18  2028   489.533681       509.67
19  2029   489.094955       509.67

    Year  M_verbal  F_verbal  M_math  F_math  A_verbal  A_math  M_averages  \
0   1967       540       545     535     495       543     516         538
1   1968       541       543     533     497       543     516         537
2   1969       536       543     534     498       540     517         535
3   1970       536       538     531     493       537     512         534
4   1971       531       534     529     494       532     513         530
5   1972       531       529     527     489       530     509         529
6   1973       523       521     525     489       523     506         524
7   1974       524       520     524     488       521     505         524
8   1975       515       509     518     479       512     498         516
9   1976       511       508     520     475       509     497         516
10  1977       509       505     520     474       507     496         514
11  1978       511       503     517     474       507     494         514
12  1979       509       501     516     473       505     493         512
13  1980       506       498     515     473       502     492         510
14  1981       508       496     516     473       502     492         512
15  1982       509       499     516     473       504     493         512
16  1983       508       498     516     474       503     494         512
17  1984       511       498     518     478       504     497         514
18  1985       514       503     522     480       509     500         518
19  1986       515       504     523     479       509     500         519
20  1987       512       502     523     481       507     501         518
21  1988       512       499     521     483       505     501         516
22  1989       510       498     523     482       504     502         516
23  1990       505       496     521     483       500     501         513
24  1991       503       495     520     482       499     500         512
25  1992       504       496     521     484       500     501         512
26  1993       504       497     524     484       500     503         514
27  1994       501       497     523     487       499     504         512
28  1995       505       502     525     490       504     506         515
29  1996       507       503     527     492       505     508         517
30  1997       507       503     530     494       505     511         518
31  1998       509       502     531     496       505     512         520
32  1999       509       502     531     495       505     511         520
33  2000       507       504     533     498       505     514         520
34  2001       509       502     533     498       506     514         521

    F_averages  A_averages
0          520         529
1          520         528
2          520         528
3          516         524
4          514         522
5          509         519
6          505         514
7          504         514
8          494         505
9          492         504
10         490         502
11         488         501
12         487         500
13         486         498
14         484         498
15         486         499
16         486         499
17         488         501
18         492         505
19         492         505
20         492         504
21         491         504
22         490         503
23         490         501
24         488         500
25         490         501
26         490         502
27         492         502
28         496         506
29         498         507
30         498         508
31         499         510
32         498         509
33         501         510
34         500         510